# Example terraform.tfvars file
# Copy this file to terraform.tfvars and modify the values as needed

resource_group_name = "ccf-blockchain-rg"
location            = "East US"
prefix              = "ccf-blockchain"
vm_size             = "Standard_D2s_v3"
admin_username      = "azureuser"
ccf_member_count    = 3
app_uri             = "https://github.com/microsoft/CCF/releases/download/ccf-4.0.0/sandbox_js.zip" 